apiVersion: apps/v1
kind: Deployment

metadata:
  name: joplin
  namespace: app-joplin

spec:
  selector:
    matchLabels:
      app: joplin
  strategy:
    type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 1
  template:
    metadata:
      labels:
        app: joplin
    spec:
      containers:
        - name: joplin
          image: joplin/server:3.4.3
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 22300
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            tcpSocket:
              port: 22300
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          env:
            - name: APP_BASE_URL
              valueFrom:
                secretKeyRef:
                  name: joplin-secrets
                  key: baseurl
            - name: DB_CLIENT
              value: pg
            - name: POSTGRES_CONNECTION_STRING
              valueFrom:
                secretKeyRef:
                  name: postgres-cluster-app
                  key: uri
          ports:
            - containerPort: 22300
