apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - sealed-db-secrets.yaml
  - sealed-admin-secrets.yaml
  - sealed-oidc-secret.yaml
  - mariadb.yaml
  - photoprism.yaml
  - ingressroute.yaml

configMapGenerator:
  - name: mariadb-config
    namespace: app-photoprism
    envs:
      - mariadb-config.env

  - name: photoprism-config
    namespace: app-photoprism
    envs:
      - photoprism-config.env
