apiVersion: apps/v1
kind: Deployment

metadata:
  name: sonarr
  namespace: app-servarr

spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: sonarr
    spec:
      containers:
        - name: sonarr
          image: lscr.io/linuxserver/sonarr:4.0.16.2944-ls297
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 8989
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            tcpSocket:
              port: 8989
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          envFrom:
            - configMapRef:
                name: sonarr-config
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: SONARR__AUTH__APIKEY
              valueFrom:
                secretKeyRef:
                  name: servarr-api-key
                  key: value
          ports:
            - containerPort: 8989
          volumeMounts:
            - name: config
              mountPath: /config
            - name: series
              mountPath: /series
            - name: downloads
              mountPath: /downloads
      volumes:
        - name: series
          hostPath:
            path: /mnt/spike/mass-storage/videos/series
            type: Directory
        - name: config
          persistentVolumeClaim:
            claimName: sonarr-config
        - name: downloads
          hostPath:
            path: /mnt/spike/mass-storage/downloads
            type: Directory
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: home.arpa/zfs-pool
                    operator: In
                    values:
                      - "true"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarr-config
  namespace: app-servarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-local
