apiVersion: v1
kind: ServiceAccount
metadata:
  name: traefik-ingress-controller
  namespace: traefik-system
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: traefik
  namespace: traefik-system
  labels:
    app: traefik

spec:
  selector:
    matchLabels:
      app: traefik
  strategy:
    type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 1
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-ingress-controller
      containers:
        - name: traefik
          image: traefik:v3.6.6
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 2
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          args:
            - "--log.level=DEBUG"
            - "--api"
            - "--api.insecure"
            - "--api.dashboard"
            - "--metrics.prometheus=true"
            - "--metrics.prometheus.addEntryPointsLabels=true"
            - "--metrics.prometheus.addServicesLabels=true"
            - "--metrics.prometheus.addRoutersLabels=true"
            - "--entryPoints.web.address=:80"
            - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
            - "--entryPoints.websecure.address=:443"
            - "--entryPoints.samba.address=:445"
            - "--providers.kubernetescrd"
            - "--providers.kubernetescrd.allowCrossNamespace=true"
          ports:
            - name: http
              containerPort: 80
            - name: https
              containerPort: 443
            - name: smb
              containerPort: 445
            - name: dashboard
              containerPort: 8080
            - name: metrics
              containerPort: 8082
---
apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: traefik-system
  labels:
    tailscale.com/proxy-class: "privileged-proxy"
spec:
  type: LoadBalancer
  loadBalancerClass: tailscale
  selector:
    app: traefik
  ports:
    - protocol: TCP
      port: 80
      name: http
      targetPort: http
    - protocol: TCP
      port: 443
      name: https
      targetPort: https
    - protocol: TCP
      port: 445
      name: smb
      targetPort: smb
---
apiVersion: v1
kind: Service
metadata:
  name: dashboard
  namespace: traefik-system

spec:
  ports:
    - name: http
      port: 8080
      targetPort: dashboard
  selector:
    app: traefik
---
apiVersion: v1
kind: Service
metadata:
  name: traefik-metrics
  namespace: traefik-system
  labels:
    app: traefik
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8082"
spec:
  ports:
    - name: metrics
      port: 8082
      targetPort: metrics
  selector:
    app: traefik
