apiVersion: v1
kind: ServiceAccount
metadata:
  name: traefik-ingress-controller
  namespace: traefik-system
---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: traefik
  namespace: traefik-system
  labels:
    app: traefik

spec:
  selector:
    matchLabels:
      app: traefik
  strategy:
    type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 1
  template:
    metadata:
      labels:
        app: traefik
    spec:
      serviceAccountName: traefik-ingress-controller
      containers:
        - name: traefik
          image: traefik:v3.6.6
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 2
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            tcpSocket:
              port: 80
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          args:
            - "--log.level=DEBUG"
            - "--api"
            - "--api.insecure"
            - "--api.dashboard"
            - "--metrics.prometheus=true"
            - "--metrics.prometheus.addEntryPointsLabels=true"
            - "--metrics.prometheus.addServicesLabels=true"
            - "--metrics.prometheus.addRoutersLabels=true"
            - "--entryPoints.web.address=:80"
            - "--entryPoints.web.http.redirections.entryPoint.to=websecure"
            - "--entryPoints.websecure.address=:443"
            - "--entryPoints.samba.address=:445"
            - "--entryPoints.tunnel.address=:8000"
            - "--entryPoints.web.forwardedHeaders.trustedIPs=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22"
            - "--entryPoints.websecure.forwardedHeaders.trustedIPs=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22"
            - "--entryPoints.tunnel.forwardedHeaders.trustedIPs=173.245.48.0/20,103.21.244.0/22,103.22.200.0/22,103.31.4.0/22,141.101.64.0/18,108.162.192.0/18,190.93.240.0/20,188.114.96.0/20,197.234.240.0/22,198.41.128.0/17,162.158.0.0/15,104.16.0.0/13,104.24.0.0/14,172.64.0.0/13,131.0.72.0/22,10.0.0.0/8,100.64.0.0/10"
            - "--providers.kubernetescrd"
            - "--providers.kubernetescrd.allowCrossNamespace=true"
          ports:
            - name: http
              containerPort: 80
            - name: https
              containerPort: 443
            - name: smb
              containerPort: 445
            - name: tunnel
              containerPort: 8000
            - name: dashboard
              containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: traefik
  namespace: traefik-system
  labels:
    tailscale.com/proxy-class: "privileged-proxy"
spec:
  type: LoadBalancer
  loadBalancerClass: tailscale
  selector:
    app: traefik
  ports:
    - protocol: TCP
      port: 80
      name: http
      targetPort: http
    - protocol: TCP
      port: 443
      name: https
      targetPort: https
    - protocol: TCP
      port: 445
      name: smb
      targetPort: smb
    - protocol: TCP
      port: 8000
      name: tunnel
      targetPort: tunnel
---
apiVersion: v1
kind: Service
metadata:
  name: dashboard
  namespace: traefik-system

spec:
  ports:
    - name: http
      port: 8080
      targetPort: dashboard
  selector:
    app: traefik
---
apiVersion: v1
kind: Service
metadata:
  name: traefik-metrics
  namespace: traefik-system
  labels:
    app: traefik
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/port: "8080"
spec:
  ports:
    - name: metrics
      port: 8080
      targetPort: dashboard
  selector:
    app: traefik
