apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: longhorn
  namespace: longhorn-system

spec:
  entryPoints:
    - websecure

  routes:
    - match: Host(`longhorn.cluster.arpa`)
      kind: Rule
      middlewares:
        - name: keycloak-auth
          namespace: oauth2-proxy-system
      services:
        - name: longhorn-frontend
          port: 80
  tls:
    secretName: traefik-tls
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: traefik-cert
  namespace: longhorn-system
spec:
  secretName: traefik-tls
  duration: 672h # 28d
  renewBefore: 168h # 7d
  issuerRef:
    name: custom-ca-cluster-issuer
    kind: ClusterIssuer
  commonName: "longhorn.cluster.arpa"
  dnsNames:
    - "longhorn.cluster.arpa"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: traefik-ingress-controller
  namespace: longhorn-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: traefik-ingress-controller
subjects:
  - kind: ServiceAccount
    name: traefik-ingress-controller
    namespace: traefik-system
