# hhttps://docs.mau.fi/meowlnir/

homeserver:
  address: http://synapse.app-matrix.svc:8008
  domain: borooka.ee

meowlnir:
  id: meowlnir
  as_token: "${MEOWLNIR_AS_TOKEN}"
  hs_token: "${MEOWLNIR_HS_TOKEN}"
  address: http://meowlnir.app-matrix.svc:29339
  hostname: 0.0.0.0
  port: 29339
  management_secret: "${MEOWLNIR_MANAGEMENT_SECRET}"
  data_secret: "${MEOWLNIR_DATA_SECRET}"

database:
  type: postgres
  uri: "postgres://${MEOWLNIR_DB_USER}:${MEOWLNIR_DB_PASSWORD}@meowlnir-db-rw.app-matrix.svc:5432/${MEOWLNIR_DB_NAME}?sslmode=disable"

synapse_db:
  type: postgres
  uri: "postgres://${SYNAPSE_DB_USER}:${SYNAPSE_DB_PASSWORD}@matrix-db-rw.app-matrix.svc:5432/${SYNAPSE_DB_NAME}?sslmode=disable"

antispam:
  secret: "${MEOWLNIR_ANTISPAM_TOKEN}"

encryption:
  enable: true
  pickle_key: "${MEOWLNIR_PICKLE_KEY}"

meowlnir4all:
  admin_room: null

logging:
  min_level: info
  writers:
    - type: stdout
      format: pretty-colored
