apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - cnpg.yaml
  - redis.yaml
  - tika.yaml
  - gotenberg.yaml
  - paperless.yaml
  - ingressroute.yaml
  - sealed-oidc-secret.yaml

configMapGenerator:
  - name: paperless-config
    namespace: app-paperless-ngx
    envs:
      - paperless-config.env
