# https://element-hq.github.io/matrix-authentication-service/

http:
  public_base: "https://matrix-auth.borooka.ee/"
  listeners:
    - name: web
      resources:
        - name: discovery
        - name: human
        - name: oauth
        - name: compat
        - name: graphql
        - name: assets
      binds:
        - address: "[::]:8080"
    - name: internal
      resources:
        - name: health
        - name: prometheus
      binds:
        - address: "[::]:8081"

matrix:
  homeserver: "borooka.ee"
  endpoint: "http://synapse.app-matrix.svc.cluster.local:8008"
  secret_file: "/secrets/synapse-mas-shared-secret"

passwords:
  enabled: false

secrets:
  encryption_file: "/secrets/mas-encryption-hex"
  keys:
    - key_file: "/secrets/keys/rsa_private_key.pem"

upstream_oauth2:
  providers:
    - id: "01HWCM3Q7K8YDNP9Q2X5V1W2Z3"
      synapse_idp_id: "oidc-authelia"
      issuer: "https://auth.borooka.ee"
      human_name: "Authelia"
      brand_name: "authelia"
      # Required for Authelia compatibility - handles metadata quirks
      discovery_mode: insecure
      # Authelia doesn't include profile/email claims in ID token by default
      fetch_userinfo: true
      token_endpoint_auth_method: client_secret_basic
      client_id: "matrix-authentication-service"
      client_secret_file: "/secrets/authelia-client-secret"
      scope: "openid profile email"
      claims_imports:
        localpart:
          action: require
          template: "{{ user.preferred_username }}"
        displayname:
          action: suggest
          template: "{{ user.name }}"
        email:
          action: suggest
          template: "{{ user.email }}"
          set_email_verification: always

account:
  email_change_allowed: true
  displayname_change_allowed: true
  password_registration_enabled: false
  password_change_allowed: false

branding:
  service_name: "Brooke's Matrix"

policy:
  data:
    # A new user in SSO will "register" a user here
    registration: "open"
