apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: samba
  namespace: app-samba

spec:
  entryPoints:
    - samba
  routes:
    - match: HostSNI(`*`)
      services:
        - name: samba
          port: 445
