nameReference:
  - kind: ConfigMap
    version: v1
    fieldSpecs:
      - path: spec/values/pod/extraVolumes/configMap/name
        kind: HelmRelease
        group: helm.toolkit.fluxcd.io
        version: v2
