apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

  - synapse
  - synapse-admin
  - jitsi
  - element
  - well-known
  - livekit
  - hookshot
  - meowlnir
  - redis
  - mautrix-discord
  - mautrix-signal
  - maubot
  - matrix-meetings
  - mas

  - sealed-turn-secrets.yaml

commonLabels:
  app.kubernetes.io/part-of: matrix-stack
