apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - namespace.yaml

  - synapse
  - synapse-admin
  - jitsi
  - element
  - well-known
  - livekit
  - hookshot
  - redis

  - sealed-turn-secrets.yaml
  - certificate.yaml
  - tunnel.yaml

commonLabels:
  app.kubernetes.io/part-of: matrix-stack
