apiVersion: apps/v1
kind: Deployment

metadata:
  name: radarr
  namespace: app-servarr

spec:
  replicas: 1
  selector:
    matchLabels:
      app: radarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: radarr
    spec:
      containers:
        - name: radarr
          image: lscr.io/linuxserver/radarr:5.28.0.10274-ls286
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: radarr-config
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: RADARR__AUTH__APIKEY
              valueFrom:
                secretKeyRef:
                  name: servarr-api-key
                  key: value
          ports:
            - containerPort: 7878
          volumeMounts:
            - name: config
              mountPath: /config
            - name: movies
              mountPath: /movies
            - name: downloads
              mountPath: /downloads
      volumes:
        - name: movies
          hostPath:
            path: /mnt/spike/mass-storage/videos/movies
            type: Directory
        - name: config
          persistentVolumeClaim:
            claimName: radarr-config
        - name: downloads
          hostPath:
            path: /mnt/spike/mass-storage/downloads
            type: Directory
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: home.arpa/zfs-pool
                    operator: In
                    values:
                      - "true"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: radarr-config
  namespace: app-servarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-local
