apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
   - element.yaml
   - tunnel.yaml
   - ingressroute.yaml

configMapGenerator:
  - name: element-config
    namespace: app-matrix
    files:
      - config.json=config/element-config.json

  - name: element-nginx-config
    namespace: app-matrix
    files:
      - default.conf=config/element-nginx.conf
