identity_providers:
  oidc:
    clients:
      - client_id: jellyfin
        client_name: Jellyfin
        public: false
        client_secret: {{ secret "/secrets/authelia-client-jellyfin/client-secret" | msquote }}
        authorization_policy: one_factor
        require_pkce: true
        pkce_challenge_method: S256
        redirect_uris:
          - https://jellyfin.cluster.arpa/sso/OID/redirect/authelia
          - http://jellyfin.cluster.arpa/sso/OID/redirect/authelia
        scopes:
          - openid
          - profile
          - groups
          - email
        response_types:
          - code
        grant_types:
          - authorization_code
        token_endpoint_auth_method: client_secret_post

      - client_id: matrix-authentication-service
        client_name: Matrix Authentication Service
        public: false
        client_secret: {{ secret "/secrets/authelia-client-mas/client-secret" | msquote }}
        authorization_policy: two_factor
        require_pkce: false
        pkce_challenge_method: ''
        redirect_uris:
          - https://matrix-auth.borooka.ee/upstream/callback/01HWCM3Q7K8YDNP9Q2X5V1W2Z3
        scopes:
          - openid
          - profile
          - email
        response_types:
          - code
        grant_types:
          - authorization_code
          - refresh_token
        token_endpoint_auth_method: client_secret_basic
