identity_providers:
  oidc:
    clients:
      - client_id: jellyfin
        client_name: Jellyfin
        public: false
        client_secret: {{ secret "/secrets/authelia-client-jellyfin/client-secret" | msquote }}
        authorization_policy: one_factor
        require_pkce: true
        pkce_challenge_method: S256
        redirect_uris:
          - https://jellyfin.cluster.arpa/sso/OID/redirect/authelia
          - http://jellyfin.cluster.arpa/sso/OID/redirect/authelia
        scopes:
          - openid
          - profile
          - groups
          - email
        response_types:
          - code
        grant_types:
          - authorization_code
        token_endpoint_auth_method: client_secret_post

      - client_id: matrix
        client_name: Matrix
        public: false
        client_secret: {{ secret "/secrets/authelia-client-matrix/client-secret" | msquote }}
        authorization_policy: two_factor
        require_pkce: false
        pkce_challenge_method: ''
        redirect_uris:
          - https://matrix.borooka.ee/_synapse/client/oidc/callback
        scopes:
          - openid
          - profile
          - email
          - groups
        response_types:
          - code
        grant_types:
          - authorization_code
        access_token_signed_response_alg: 'none'
        userinfo_signed_response_alg: 'none'
        token_endpoint_auth_method: client_secret_basic
