identity_providers:
  oidc:
    clients:
      - client_id: jellyfin
        client_name: Jellyfin
        public: false
        client_secret: '{{ secret "/secrets/authelia-secrets/OIDC_CLIENT_JELLYFIN_SECRET" }}'
        authorization_policy: one_factor
        require_pkce: true
        pkce_challenge_method: S256
        redirect_uris:
          - https://jellyfin.cluster.arpa/sso/OID/redirect/authelia
          - http://jellyfin.cluster.arpa/sso/OID/redirect/authelia
        scopes:
          - openid
          - profile
          - groups
          - email
        response_types:
          - code
        grant_types:
          - authorization_code
        token_endpoint_auth_method: client_secret_post
