import = /etc/rtorrent/rtorrent.rc

network.port_range.set = __TORRENTING_PORT__-__TORRENTING_PORT__
network.port_random.set = no
directory.default.set = /downloads
protocol.encryption.set = require,enable_retry,try_outgoing
throttle.global_up.max_rate.set_kb = 7680
throttle.global_down.max_rate.set_kb = 7680

method.insert = d.data_path, simple, \
    "if=(d.is_multi_file),\
        (cat,(d.directory),/),\
        (cat,(d.directory),/,(d.name))"

method.insert = policy.stamp_active, simple, \
    "branch=d.up.rate=,\
        ((d.custom.set,seed_idle_since,(system.time_seconds)))"

method.insert = policy.init_stamp, simple, \
    "d.custom.set_if_z=seed_idle_since,(system.time_seconds)"

method.insert = policy.remove_with_data, simple, \
    "execute.nothrow=rm,-rf,(d.data_path);\
     d.erase="

method.insert = policy.check_public, simple, \
    "branch=\
        \"and={not=$d.is_private=,elapsed.greater=$d.custom=seed_idle_since,604800}\",\
        ((policy.remove_with_data))"

method.insert = policy.check_private, simple, \
    "branch=\
        \"and={$d.is_private=,or={and={greater=$d.ratio=,2000,elapsed.greater=$d.custom=seed_idle_since,1209600},elapsed.greater=$d.custom=seed_idle_since,2419200}}\",\
        ((policy.remove_with_data))"

schedule2 = policy_seed_poller, 60, 300, \
    "d.multicall2=seeding,\
        policy.init_stamp=,\
        policy.stamp_active=,\
        policy.check_public=,\
        policy.check_private="
