apiVersion: apps/v1
kind: Deployment

metadata:
  name: prowlarr
  namespace: app-servarr

spec:
  replicas: 1
  selector:
    matchLabels:
      app: prowlarr
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: prowlarr
    spec:
      containers:
        - name: prowlarr
          image: lscr.io/linuxserver/prowlarr:2.1.5.5216-ls131
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 6969
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            tcpSocket:
              port: 6969
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          envFrom:
            - configMapRef:
                name: prowlarr-config
          env:
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: PROWLARR__AUTH__APIKEY
              valueFrom:
                secretKeyRef:
                  name: servarr-api-key
                  key: value
          ports:
            - containerPort: 6969
          volumeMounts:
            - name: config
              mountPath: /config
            - name: movies
              mountPath: /movies
            - name: downloads
              mountPath: /downloads
      volumes:
        - name: movies
          hostPath:
            path: /mnt/spike/mass-storage/videos/movies
            type: Directory
        - name: config
          persistentVolumeClaim:
            claimName: prowlarr-config
        - name: downloads
          hostPath:
            path: /mnt/spike/mass-storage/downloads
            type: Directory
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: home.arpa/zfs-pool
                    operator: In
                    values:
                      - "true"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: prowlarr-config
  namespace: app-servarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-local
