apiVersion: apps/v1
kind: Deployment

metadata:
  name: recyclarr
  namespace: app-servarr

spec:
  selector:
    matchLabels:
      app: recyclarr
  strategy:
    type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 0
    maxSurge: 1
  template:
    metadata:
      labels:
        app: recyclarr
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: recyclarr
          image: ghcr.io/recyclarr/recyclarr:7.4.1
          imagePullPolicy: IfNotPresent
          env:
            - name: TZ
              value: Europe/Tallinn
            - name: SERVARR_API_KEY
              valueFrom:
                secretKeyRef:
                  name: servarr-api-key
                  key: value
          volumeMounts:
            - name: config
              mountPath: /config
            - name: cache
              mountPath: /config/cache
            - name: logs
              mountPath: /config/logs
            - name: configs
              mountPath: /config/configs
            - name: includes
              mountPath: /config/includes
            - name: repositories
              mountPath: /config/repositories
      volumes:
        - name: config
          configMap:
            name: recyclarr-config
        - name: cache
          persistentVolumeClaim:
            claimName: recyclarr-cache
        - name: logs
          persistentVolumeClaim:
            claimName: recyclarr-logs
        - name: configs
          persistentVolumeClaim:
            claimName: recyclarr-configs
        - name: includes
          persistentVolumeClaim:
            claimName: recyclarr-includes
        - name: repositories
          persistentVolumeClaim:
            claimName: recyclarr-repositories
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: recyclarr-cache
  namespace: app-servarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 16Mi
  storageClassName: longhorn-local
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: recyclarr-logs
  namespace: app-servarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 64Mi
  storageClassName: longhorn-local
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: recyclarr-configs
  namespace: app-servarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 16Mi
  storageClassName: longhorn-local
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: recyclarr-includes
  namespace: app-servarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 16Mi
  storageClassName: longhorn-local
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: recyclarr-repositories
  namespace: app-servarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-local
