apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: traefik-ingress-controller
  namespace: app-servarr

roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: traefik-ingress-controller
subjects:
  - kind: ServiceAccount
    name: traefik-ingress-controller
    namespace: traefik-system
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: qbittorrent
  namespace: app-servarr

spec:
  entryPoints:
    - websecure

  routes:
    - match: Host(`qbittorrent.cluster.arpa`)
      kind: Rule
      services:
        - name: qbittorrent-web
          namespace: app-servarr
          port: http
  tls:
    secretName: traefik-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: sonarr
  namespace: app-servarr

spec:
  entryPoints:
    - websecure

  routes:
    - match: Host(`sonarr.cluster.arpa`)
      kind: Rule
      services:
        - name: sonarr
          namespace: app-servarr
          port: http
  tls:
    secretName: traefik-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: prowlarr
  namespace: app-servarr

spec:
  entryPoints:
    - websecure

  routes:
    - match: Host(`prowlarr.cluster.arpa`)
      kind: Rule
      services:
        - name: prowlarr
          namespace: app-servarr
          port: http
  tls:
    secretName: traefik-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: radarr
  namespace: app-servarr

spec:
  entryPoints:
    - websecure

  routes:
    - match: Host(`radarr.cluster.arpa`)
      kind: Rule
      services:
        - name: radarr
          namespace: app-servarr
          port: http
  tls:
    secretName: traefik-tls
---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: pinchflat
  namespace: app-servarr

spec:
  entryPoints:
    - websecure

  routes:
    - match: Host(`pinchflat.cluster.arpa`)
      kind: Rule
      services:
        - name: pinchflat
          namespace: app-servarr
          port: http
  tls:
    secretName: traefik-tls
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: traefik-cert
  namespace: app-servarr
spec:
  secretName: traefik-tls
  duration: 672h # 28d
  renewBefore: 168h # 7d
  issuerRef:
    name: custom-ca-cluster-issuer
    kind: ClusterIssuer
  commonName: "servarr.cluster.arpa"
  dnsNames:
    - "radarr.cluster.arpa"
    - "prowlarr.cluster.arpa"
    - "sonarr.cluster.arpa"
    - "qbittorrent.cluster.arpa"
    - "pinchflat.cluster.arpa"
