apiVersion: apps/v1
kind: StatefulSet

metadata:
  name: spectrum
  namespace: app-minecraft

spec:
  selector:
    matchLabels:
      app: spectrum
  strategy:
    type: RollingUpdate
  rollingUpdate:
    maxUnavailable: 1
    maxSurge: 1
  template:
    metadata:
      labels:
        app: spectrum
    spec:
      terminationGracePeriodSeconds: 30
      containers:
        - name: survival
          image: ghcr.io/decentm/minecraft-servers:spectrum-86882c868ddfad924bb71b37e23ae834a8173a81
          securityContext:
            capabilities:
              add:
                - CAP_NET_RAW
          imagePullPolicy: IfNotPresent
          readinessProbe:
            exec:
              command: ["/usr/local/bin/mc-health"]
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            exec:
              command: ["/usr/local/bin/mc-health"]
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          lifecycle:
          preStop:
            exec:
              command: ["/bin/sh", "-c", "/data/lifecycle/pre-stop.sh"]
          env:
            - name: RCON_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: RCON_PASSWORD

            - name: CFG_POD_UUID
              valueFrom:
                fieldRef:
                  fieldPath: metadata.uid

            - name: CFG_LUCKPERMS_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: host
            - name: CFG_LUCKPERMS_DB_PORT
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: port
            - name: CFG_LUCKPERMS_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: username
            - name: CFG_LUCKPERMS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: password
            - name: CFG_LUCKPERMS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: dbname

            - name: CFG_PROXY_SECRET
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: PROXY_SECRET

            - name: SEED
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: SEED
          envFrom:
            - configMapRef:
                name: spectrum-config
          ports:
            - containerPort: 25566
            - containerPort: 25575
            - containerPort: 25567
            - containerPort: 25578
          volumeMounts:
            - name: survival-state
              mountPath: /data
            - name: survival-logs
              mountPath: /data/logs
            - name: survival-world
              mountPath: /data/world
        - name: proxy
          image: ghcr.io/decentm/minecraft-servers:proxy-86882c868ddfad924bb71b37e23ae834a8173a81
          securityContext:
            capabilities:
              add:
                - CAP_NET_RAW
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 25565
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            tcpSocket:
              port: 25565
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          env:
            - name: RCON_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: RCON_PASSWORD

            - name: CFG_CARBON_DATABASE_JDBC_URL
              valueFrom:
                secretKeyRef:
                  name: carbon-db-app
                  key: jdbc-uri
            - name: CFG_CARBON_DATABASE_USERNAME
              valueFrom:
                secretKeyRef:
                  name: carbon-db-app
                  key: username
            - name: CFG_CARBON_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: carbon-db-app
                  key: password

            - name: CFG_LUCKPERMS_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: host
            - name: CFG_LUCKPERMS_DB_PORT
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: port
            - name: CFG_LUCKPERMS_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: username
            - name: CFG_LUCKPERMS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: password
            - name: CFG_LUCKPERMS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: dbname

            - name: CFG_BANS_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: libertybans-db-app
                  key: host
            - name: CFG_BANS_DB_PORT
              valueFrom:
                secretKeyRef:
                  name: libertybans-db-app
                  key: port
            - name: CFG_BANS_DB_USER
              valueFrom:
                secretKeyRef:
                  name: libertybans-db-app
                  key: username
            - name: CFG_BANS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: libertybans-db-app
                  key: password
            - name: CFG_BANS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: libertybans-db-app
                  key: dbname
          envFrom:
            - configMapRef:
                name: proxy-config
          ports:
            - containerPort: 25565
              protocol: TCP
          volumeMounts:
            - name: forwarding-secret
              mountPath: /forwarding-secret
              subPath: forwarding-secret
              readOnly: true
        - name: fallback
          image: ghcr.io/decentm/minecraft-servers:fallback-86882c868ddfad924bb71b37e23ae834a8173a81
          securityContext:
            capabilities:
              add:
                - CAP_NET_RAW
          imagePullPolicy: IfNotPresent
          readinessProbe:
            exec:
              command: ["/usr/local/bin/mc-health"]
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            exec:
              command: ["/usr/local/bin/mc-health"]
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          env:
            - name: RCON_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: RCON_PASSWORD

            - name: CFG_LUCKPERMS_DB_HOST
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: host
            - name: CFG_LUCKPERMS_DB_PORT
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: port
            - name: CFG_LUCKPERMS_DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: username
            - name: CFG_LUCKPERMS_DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: password
            - name: CFG_LUCKPERMS_DB_NAME
              valueFrom:
                secretKeyRef:
                  name: luckperms-db-app
                  key: dbname

            - name: CFG_PROXY_SECRET
              valueFrom:
                secretKeyRef:
                  name: secrets
                  key: PROXY_SECRET
          envFrom:
            - configMapRef:
                name: fallback-config
          ports:
            - containerPort: 25567
          volumeMounts:
            - name: fallback-state
              mountPath: /data
            - name: fallback-logs
              mountPath: /data/logs
      volumes:
        - name: survival-logs
          persistentVolumeClaim:
            claimName: spectrum-logs
        - name: fallback-logs
          persistentVolumeClaim:
            claimName: fallback-logs
        - name: proxy-logs
          persistentVolumeClaim:
            claimName: proxy-logs
        - name: survival-state
          persistentVolumeClaim:
            claimName: spectrum-state
        - name: fallback-state
          persistentVolumeClaim:
            claimName: fallback-state
        - name: survival-world
          hostPath:
            path: /mnt/spike/storage/k8s/namespaces/app-spectrum/world
            type: Directory
        - name: forwarding-secret
          secret:
            secretName: secrets
            items:
              - key: PROXY_SECRET
                path: forwarding-secret
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: proxy-logs
  namespace: app-minecraft
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn-local
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spectrum-world
  namespace: app-minecraft
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 200Gi
  storageClassName: longhorn-pool
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spectrum-logs
  namespace: app-minecraft
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn-local
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: spectrum-state
  namespace: app-minecraft
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn-local
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fallback-logs
  namespace: app-minecraft
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn-local
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: fallback-state
  namespace: app-minecraft
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn-local
