apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - cnpg.yaml
  - survival.yaml
  - fallback.yaml
  - proxy.yaml
  - announcer.yaml

configMapGenerator:
  - name: spectrum-config
    namespace: app-minecraft
    envs:
      - survival-config.env
  - name: proxy-config
    namespace: app-minecraft
    envs:
      - proxy-config.env
  - name: fallback-config
    namespace: app-minecraft
    envs:
      - fallback-config.env
  - name: announcer-config
    namespace: app-minecraft
    envs:
      - announcer-config.env
