apiVersion: v1
kind: Service
metadata:
  name: spectrum-rp
  namespace: app-minecraft

spec:
  type: NodePort
  selector:
    app: spectrum
  ports:
    - name: rp
      port: 25577
      nodePort: 30566
---
apiVersion: v1
kind: Service
metadata:
  name: proxy-mc
  namespace: app-minecraft
spec:
  type: NodePort
  selector:
    app: spectrum
  ports:
    - protocol: TCP
      port: 25565
      name: mc
      nodePort: 30000
