apiVersion: v1
kind: Service
metadata:
  name: spectrum-rp
  namespace: app-minecraft

spec:
  selector:
    app: spectrum-survival
  ports:
    - name: rp
      port: 25578
---
apiVersion: v1
kind: Service
metadata:
  name: spectrum-mc
  namespace: app-minecraft

spec:
  type: NodePort
  selector:
    app: spectrum-proxy
  ports:
    - name: mc
      port: 25565
      nodePort: 30000
---
apiVersion: v1
kind: Service
metadata:
  name: spectrum-mc-tun
  namespace: app-minecraft

spec:
  selector:
    app: spectrum-proxy
  ports:
    - name: mc
      port: 25565
---
apiVersion: v1
kind: Service
metadata:
  name: spectrum-rcon
  namespace: app-minecraft

spec:
  selector:
    app: spectrum-survival
  ports:
    - name: rcon
      port: 25575
---
apiVersion: v1
kind: Service
metadata:
  name: spectrum-internal-fallback
  namespace: app-minecraft

spec:
  selector:
    app: spectrum-fallback
  ports:
    - name: mc
      port: 25567
---
apiVersion: v1
kind: Service
metadata:
  name: spectrum-internal-survival
  namespace: app-minecraft

spec:
  selector:
    app: spectrum-survival
  ports:
    - name: mc
      port: 25566
---
# https://github.com/adyanth/cloudflare-operator/blob/main/docs/configuration.md
apiVersion: networking.cfargotunnel.com/v1alpha1
kind: TunnelBinding
metadata:
  name: spectrum-rp
  namespace: app-minecraft

tunnelRef:
  kind: ClusterTunnel
---
apiVersion: networking.cfargotunnel.com/v1alpha1
kind: TunnelBinding
metadata:
  name: spectrum-mc
  namespace: app-minecraft

tunnelRef:
  kind: ClusterTunnel
