apiVersion: v1
kind: Service
metadata:
  name: spectrum-mc
  namespace: app-minecraft

spec:
  ports:
    - name: mc
      port: 25565
  selector:
    app: spectrum
---
apiVersion: v1
kind: Service
metadata:
  name: spectrum-rp
  namespace: app-minecraft

spec:
  type: NodePort
  ports:
    - name: rp
      port: 25577
      nodePort: 30566
  selector:
    app: spectrum
---
apiVersion: v1
kind: Service
metadata:
  name: spectrum-rcon
  namespace: app-minecraft

spec:
  ports:
    - name: tcp
      port: 25575
  selector:
    app: spectrum
---
apiVersion: v1
kind: Service
metadata:
  name: proxy-mc
  namespace: app-minecraft
spec:
  type: NodePort
  selector:
    app: proxy
  ports:
    - protocol: TCP
      port: 25565
      name: mc
      nodePort: 30000
---
apiVersion: v1
kind: Service
metadata:
  name: fallback-mc
  namespace: app-minecraft

spec:
  ports:
    - name: tcp
      port: 25565
  selector:
    app: fallback
---
apiVersion: v1
kind: Service
metadata:
  name: fallback-rcon
  namespace: app-minecraft

spec:
  ports:
    - name: tcp
      port: 25575
  selector:
    app: fallback
