apiVersion: v1
kind: Service
metadata:
  name: spectrum-mc
  namespace: app-minecraft

spec:
  type: NodePort
  ports:
    - name: tcp
      port: 25565
      nodePort: 30565
  selector:
    app: spectrum
---
apiVersion: v1
kind: Service
metadata:
  name: spectrum-rcon
  namespace: app-minecraft

spec:
  ports:
    - name: tcp
      port: 25575
  selector:
    app: spectrum
---
# https://github.com/adyanth/cloudflare-operator/blob/main/docs/configuration.md
apiVersion: networking.cfargotunnel.com/v1alpha1
kind: TunnelBinding
metadata:
  name: spectrum-mc-rp
  namespace: app-minecraft
tunnelRef:
  kind: ClusterTunnel
  name: cluster-tunnel-borooka
