apiVersion: v1
kind: Service
metadata:
  name: spectrum-rp
  namespace: app-minecraft

spec:
  type: NodePort
  selector:
    app: spectrum
  ports:
    - name: rp
      port: 25578
      nodePort: 30566
---
apiVersion: v1
kind: Service
metadata:
  name: proxy-mc
  namespace: app-minecraft
spec:
  type: NodePort
  selector:
    app: spectrum
  ports:
    - protocol: TCP
      port: 25565
      name: mc
      nodePort: 30000
---
# https://github.com/adyanth/cloudflare-operator/blob/main/docs/configuration.md
apiVersion: networking.cfargotunnel.com/v1alpha1
kind: TunnelBinding
metadata:
  name: spectrum-rp
  namespace: app-minecraft

tunnelRef:
  kind: ClusterTunnel
