apiVersion: v1
kind: Service
metadata:
  name: spectrum-rp
  namespace: app-minecraft

spec:
  type: NodePort
  selector:
    app: spectrum
  ports:
    - name: rp
      port: 25578
      nodePort: 30566
    - name: mc
      port: 25565
      nodePort: 30000
---
apiVersion: v1
kind: Service
metadata:
  name: spectrum-rcon
  namespace: app-minecraft

spec:
  selector:
    app: spectrum
  ports:
    - name: rcon
      port: 25575
---
# https://github.com/adyanth/cloudflare-operator/blob/main/docs/configuration.md
apiVersion: networking.cfargotunnel.com/v1alpha1
kind: TunnelBinding
metadata:
  name: spectrum-rp
  namespace: app-minecraft

tunnelRef:
  kind: ClusterTunnel
