apiVersion: apps/v1
kind: Deployment

metadata:
  name: flaresolverr
  namespace: app-servarr

spec:
  replicas: 1
  selector:
    matchLabels:
      app: flaresolverr
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: flaresolverr
    spec:
      securityContext:
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
      containers:
        - name: flaresolverr
          image: ghcr.io/flaresolverr/flaresolverr:v3.4.5
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 6969
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            tcpSocket:
              port: 6969
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          env:
            - name: LOG_LEVEL
              value: info
          ports:
            - containerPort: 6969
