apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../base/actual
  - ../base/home-assistant
  - ../base/invidious
  - ../base/jellyfin
  - ../base/joplin
  - ../base/minecraft
  - ../base/paperless-ngx
  - ../base/photoprism
  - ../base/restic
  - ../base/samba
  - ../base/servarr
  - ../base/zerobyte
  - ../base/opencode
  - ../base/mcps
patches:
  - path: patches/photoprism.yaml
  - path: patches/spectrum-mc-rp-tunnel.yaml
