server_name: "borooka.ee"
public_baseurl: "https://matrix.borooka.ee/"
pid_file: /data/homeserver.pid

database:
  name: psycopg2
  args:
    user: synapse
    password: "${SYNAPSE_DATABASE_PASSWORD}"
    database: synapse
    host: matrix-db-rw.app-matrix.svc
    port: 5432
    cp_min: 5
    cp_max: 30

listeners:
  - port: 8008
    tls: false
    type: http
    x_forwarded: true
    bind_addresses: ['0.0.0.0']
    resources:
      - names: [client, federation, metrics]
        compress: false

media_store_path: /data/media_store
max_upload_size: 25M
max_image_pixels: 32M
url_preview_enabled: true
url_preview_ip_range_blacklist:
  - '127.0.0.0/8'
  - '10.0.0.0/8'
  - '172.16.0.0/12'
  - '192.168.0.0/16'
  - '100.64.0.0/10'
  - '169.254.0.0/16'
  - 'fe80::/64'

signing_key_path: /data/borooka.ee.signing.key

enable_registration: false
registration_shared_secret: "${SYNAPSE_REGISTRATION_SHARED_SECRET}"

password_config:
  enabled: false

oidc_providers:
  - idp_id: authelia
    idp_name: "Authelia"
    idp_icon: 'mxc://authelia.com/cKlrTPsGvlpKxAYeHWJsdVHI'
    discover: true
    issuer: "https://auth.borooka.ee"
    client_id: "matrix"
    client_secret: "${OIDC_CLIENT_MATRIX_SECRET}"
    scopes:
      - openid
      - profile
      - email
      - groups
    allow_existing_users: true
    user_mapping_provider:
      config:
        subject_template: "{{ user.sub }}"
        localpart_template: "{{ user.preferred_username }}"
        display_name_template: "{{ user.name }}"
        email_template: "{{ user.email }}"
    attribute_requirements:
      - attribute: 'groups'
        value: 'matrix-users'
    user_profile_method: 'userinfo_endpoint'

macaroon_secret_key: "${SYNAPSE_MACAROON_SECRET_KEY}"
form_secret: "${SYNAPSE_FORM_SECRET}"

trusted_key_servers:
  - server_name: "matrix.org"

federation_domain_blacklist:
  - plsdontputmeon.ignorelist.com

federation_rr_transactions_per_room_per_second: 50

rc_federation:
  window_size: 1000
  sleep_limit: 10
  sleep_delay: 500
  reject_limit: 50
  concurrent: 3

federation_client_minimum_retryinterval: 5m
federation_max_short_retryinterval: 1h
federation_max_long_retryinterval: 6h

caches:
  global_factor: 0.5
  per_cache_factors:
    get_users_in_room: 2.0
    get_room_state: 2.0

enable_metrics: true
report_stats: false

turn_uris:
  - "turn:eu.relay.metered.ca:80"
  - "turn:eu.relay.metered.ca:80?transport=tcp"
  - "turns:eu.relay.metered.ca:443?transport=tcp"
turn_username: "${SYNAPSE_TURN_USERNAME}"
turn_password: "${SYNAPSE_TURN_PASSWORD}"
turn_allow_guests: true

log_config: "/config/log.config"

app_service_config_files:
  - /data/hookshot-registration.yml
  - /data/meowlnir-registration.yml
  - /data/discord-registration.yaml
  - /data/signal-registration.yaml
  - /data/meetings-registration.yaml

modules:
  - module: synapse_http_antispam.HTTPAntispam
    config:
      base_url: http://meowlnir.app-matrix.svc:29339/_meowlnir/antispam/!IVNcQHAxUUwAFjlpvf:borooka.ee
      authorization: ${MEOWLNIR_ANTISPAM_TOKEN}
      enabled_callbacks:
        - user_may_invite
        - user_may_join_room
      fail_open:
        user_may_invite: true
        user_may_join_room: true

experimental_features:
  msc3202_device_masquerading: true
  msc3202_transaction_extensions: true
  msc2409_to_device_messages_enabled: true

  # Element Call support
  msc4140_enabled: true  # Delayed events for proper call signalling
  msc3266_enabled: true  # Room summaries

server_notices:
  system_mxid_localpart: notices
  system_mxid_display_name: "System Announcements"
  room_name: "Announcements"
  room_topic: "Updates from instance admins"
  auto_join: true

# Default power levels for public_chat preset (moderation controls)
default_power_level_content_override:
  public_chat:
    invite: 50
    redact: 50
    kick: 50
    ban: 50

# Required for matrix-meetings to find users
user_directory:
  search_all_users: true

# Required for matrix-meetings widget to work properly
room_prejoin_state:
  additional_event_types:
    - m.space.parent
    - net.nordeck.meetings.metadata
    - m.room.power_levels
