apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: dashboard
  namespace: traefik-system

spec:
  entryPoints:
    - websecure

  routes:
    - match: Host(`traefik.cluster.arpa`)
      kind: Rule
      services:
        - name: dashboard
          namespace: traefik-system
          port: http
  tls:
    secretName: traefik-tls
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: traefik-cert
  namespace: traefik-system
spec:
  secretName: traefik-tls
  duration: 672h # 28d
  renewBefore: 168h # 7d
  issuerRef:
    name: custom-ca-cluster-issuer
    kind: ClusterIssuer
  commonName: "traefik.cluster.arpa"
  dnsNames:
    - "traefik.cluster.arpa"
