# https://docs.mau.fi/maubot/

user:
  credentials:
    id: "${BOT_MXID}"
    homeserver: "${BOT_HOMESERVER}"
    access_token: "${MAUBOT_AS_TOKEN}"
    device_id: "${BOT_DEVICE_ID}"
  appservice: true
  hs_token: "${MAUBOT_HS_TOKEN}"
  sync: false
  autojoin: true
  ignore_initial_sync: true
  ignore_first_sync: true

database: postgresql://maubot:${MAUBOT_DB_PASSWORD}@maubot-db-rw.app-matrix.svc:5432/maubot?sslmode=disable

crypto_database: default

crypto_db_pickle_key: "${MAUBOT_PICKLE_KEY}"

plugin_directories:
  upload: /data/plugins
  load:
    - /data/plugins
  trash: /data/trash

plugin_databases:
  postgres: postgresql://maubot:${MAUBOT_DB_PASSWORD}@maubot-db-rw.app-matrix.svc:5432/maubot?sslmode=disable
  postgres_max_conns_per_plugin: 3
  postgres_opts: {}

server:
  hostname: 0.0.0.0
  port: 29316
  public_url: https://${MAUBOT_DOMAIN}
  ui_base_path: /_matrix/maubot
  plugin_base_path: /_matrix/maubot/plugin/
  override_resource_path: /opt/maubot/frontend
  unshared_secret: null

homeservers:
  ${MATRIX_DOMAIN}:
    url: http://synapse-nginx-proxy.app-matrix.svc:8008
    secret: null

admins: {}

api_features:
  login: true
  plugin: true
  plugin_upload: true
  instance: true
  instance_database: true
  client: true
  client_proxy: true
  client_auth: true
  dev_open: false
  log: true

# Config for the plugin. These values override the plugin's base-config.yaml defaults.
# All values must be explicitly set because standalone mode with plugin_config: {}
# results in None for all config keys, causing runtime crashes.
plugin_config:
  parent_room: '${MAUBOT_COMMUNITY_PARENT_ROOM}'
  community_slug: '${MAUBOT_COMMUNITY_SLUG}'
  sleep: 5
  welcome_sleep: 0
  encrypt: true
  invite_power_level: 50
  warn_threshold_days: 30
  kick_threshold_days: 60
  track_users: ["messages", "reactions"]
  invitees: []
  greetings:
    generic: |
      Welcome {user}! Please be sure to read the topic for helpful links and information.
  greeting_rooms: {}
  notification_room: '${MAUBOT_COMMUNITY_NOTIFICATION_ROOM}'
  join_notification_message: |
    User <code>{user}</code> has joined <code>{room}</code>.
  censor: false
  uncensor_pl: 1
  censor_files: false
  censor_wordlist: []
  censor_wordlist_instaban: []
  banlists: []
  proactive_banning: false
  redact_on_ban: true
  check_if_human: false
  verification_phrases:
    - "Yes, I am a human!"
  verification_attempts: 3
  verification_message: |
    Thank you for joining {room}. Please send: "{phrase}"
  room_version: "12"

logging:
  version: 1
  formatters:
    normal:
      format: "[%(asctime)s] [%(levelname)s@%(name)s] %(message)s"
  handlers:
    console:
      class: logging.StreamHandler
      formatter: normal
  root:
    level: INFO
    handlers: [console]
