# Maubot configuration template
# This is a seed config that will be processed by envsubst and copied to /data/config.yaml
# on first run. After initial setup, the container manages this file.
#
# Documentation: https://docs.mau.fi/maubot/

database:
  type: sqlite
  uri: sqlite:/data/maubot.db

crypto_database: default

plugin_directories:
  upload: /data/plugins
  load:
    - /data/plugins
  trash: /data/trash

plugin_databases:
  sqlite: /data/dbs
  postgres: null

server:
  hostname: 0.0.0.0
  port: 29316
  public_url: https://${MAUBOT_DOMAIN}
  ui_base_path: /_matrix/maubot
  plugin_base_path: /_matrix/maubot/plugin/
  override_resource_path: /opt/maubot/frontend
  unshared_secret: ${MAUBOT_UNSHARED_SECRET}

homeservers:
  ${MATRIX_DOMAIN}:
    url: http://synapse.app-matrix.svc:8008
    secret: null

admins:
  ${MAUBOT_ADMIN_USERNAME}: ${MAUBOT_ADMIN_PASSWORD}

api_features:
  login: true
  plugin: true
  plugin_upload: true
  instance: true
  instance_database: true
  client: true
  client_proxy: true
  client_auth: true
  dev_open: false
  log: true

logging:
  version: 1
  formatters:
    normal:
      format: "[%(asctime)s] [%(levelname)s@%(name)s] %(message)s"
  handlers:
    console:
      class: logging.StreamHandler
      formatter: normal
    file:
      class: logging.handlers.RotatingFileHandler
      formatter: normal
      filename: /data/maubot.log
      maxBytes: 10485760
      backupCount: 10
  root:
    level: INFO
    handlers: [console, file]
