# https://docs.mau.fi/maubot/

user:
  credentials:
    id: "${BOT_MXID}"
    homeserver: "${BOT_HOMESERVER}"
    access_token: "${MAUBOT_AS_TOKEN}"
    device_id: "${BOT_DEVICE_ID}"
  appservice: true
  hs_token: "${MAUBOT_HS_TOKEN}"
  sync: false
  ignore_initial_sync: true
  ignore_first_sync: true

database: postgresql://maubot:${MAUBOT_DB_PASSWORD}@maubot-db-rw.app-matrix.svc:5432/maubot?sslmode=disable

crypto_database: default

crypto_db_pickle_key: "${MAUBOT_PICKLE_KEY}"

plugin_directories:
  upload: /data/plugins
  load:
    - /data/plugins
  trash: /data/trash

plugin_databases:
  postgres: postgresql://maubot:${MAUBOT_DB_PASSWORD}@maubot-db-rw.app-matrix.svc:5432/maubot?sslmode=disable
  postgres_max_conns_per_plugin: 3
  postgres_opts: {}

server:
  hostname: 0.0.0.0
  port: 29316
  public_url: https://${MAUBOT_DOMAIN}
  ui_base_path: /_matrix/maubot
  plugin_base_path: /_matrix/maubot/plugin/
  override_resource_path: /opt/maubot/frontend
  unshared_secret: null

homeservers:
  ${MATRIX_DOMAIN}:
    url: http://synapse-nginx-proxy.app-matrix.svc:8008
    secret: null

admins: {}

api_features:
  login: true
  plugin: true
  plugin_upload: true
  instance: true
  instance_database: true
  client: true
  client_proxy: true
  client_auth: true
  dev_open: false
  log: true

logging:
  version: 1
  formatters:
    normal:
      format: "[%(asctime)s] [%(levelname)s@%(name)s] %(message)s"
  handlers:
    console:
      class: logging.StreamHandler
      formatter: normal
  root:
    level: INFO
    handlers: [console]
