# https://docs.mau.fi/bridges/go/discord/

homeserver:
  address: http://synapse-nginx-proxy.app-matrix.svc:8008
  domain: borooka.ee

appservice:
  address: http://mautrix-discord.app-matrix.svc:29334
  public_address: https://discord-bridge.borooka.ee
  hostname: 0.0.0.0
  port: 29334
  id: discord
  bot:
    username: discordbot
    displayname: Brooke's Discord Bridge
    avatar: mxc://borooka.ee/vBlnanPcgFgmtNrMsaZRWvNU
  as_token: "${DISCORD_AS_TOKEN}"
  hs_token: "${DISCORD_HS_TOKEN}"
  async_transactions: true
  database:
    type: postgres
    uri: "postgres://${DISCORD_DB_USER}:${DISCORD_DB_PASSWORD}@mautrix-discord-db-rw.app-matrix.svc:5432/${DISCORD_DB_NAME}?sslmode=disable"
    max_open_conns: 50
    max_idle_conns: 10

bridge:
  username_template: "discord_{{.}}"
  displayname_template: "{{.DisplayName}} (Discord)"
  channel_name_template: "#{{.Name}}"
  guild_name_template: "{{.Name}}"

  permissions:
    "*": relay
    "borooka.ee": user
    "@decentm:borooka.ee": admin
    "@meowlnir:borooka.ee": admin

  double_puppet_server_map:
    borooka.ee: http://synapse-nginx-proxy.app-matrix.svc:8008
  login_shared_secret_map: {}
  relay:
    enabled: true
    admin_only: false
    message_formats:
      m.text: "{{.Message}}"
      m.emote: "* {{.Message}}"
      m.notice: "{{.Message}}"
    displayname_format: "{{.DisplayName}} (Matrix)"

  message_status_events: false
  delivery_receipts: false
  message_error_notices: true
  portal_message_buffer: 128

  encryption:
    allow: true
    default: false
    appservice: true
    msc4190: true
    delete_keys:
      delete_outbound_on_ack: false
      dont_store_outbound: true
      ratchet_on_decrypt: true
      delete_fully_used_on_decrypt: true
      delete_prev_on_new_session: true
      delete_on_device_delete: true
      periodically_delete_expired: true
      delete_outdated_inbound: true
    verification_levels:
      receive: unverified
      send: unverified
      share: unverified

logging:
  min_level: info
  writers:
    - type: stdout
      format: pretty-colored
