apiVersion: v1
kind: Service
metadata:
  name: federation-tester
  namespace: app-matrix
  labels:
    app: federation-tester
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
  selector:
    app: federation-tester
