apiVersion: apps/v1
kind: Deployment

metadata:
  name: qbittorrent
  namespace: app-servarr

spec:
  selector:
    matchLabels:
      app: qbittorrent
  strategy:
    type: Recreate
  replicas: 1
  template:
    metadata:
      labels:
        app: qbittorrent
    spec:
      hostNetwork: true
      securityContext:
        runAsUser: 0
        runAsGroup: 0
        fsGroup: 1000
      containers:
        - name: qbittorrent
          image: lscr.io/linuxserver/qbittorrent:5.1.4-r1-ls435
          imagePullPolicy: IfNotPresent
          readinessProbe:
            tcpSocket:
              port: 30688
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            tcpSocket:
              port: 30688
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          ports:
            - containerPort: 30688
          env:
            - name: HOME
              value: /config
            - name: PUID
              value: "1000"
            - name: PGID
              value: "1000"
            - name: TZ
              value: "Europe/Tallinn"
            - name: WEBUI_PORT
              value: "8081"
            - name: TORRENTING_PORT
              value: "30688"
            # From `qbittorrent --help`
            - name: QBT_NO_SPLASH
              value: "true"
            - name: QBT_SAVE_PATH
              value: "/downloads"
            - name: QBT_PROFILE
              value: "/config"
          volumeMounts:
            - name: downloads
              mountPath: /downloads
            - name: config
              mountPath: /config
      volumes:
        - name: downloads
          hostPath:
            path: /mnt/spike/mass-storage/downloads
            type: Directory
        - name: config
          persistentVolumeClaim:
            claimName: qbittorrent-config
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
              - matchExpressions:
                  - key: home.arpa/zfs-pool
                    operator: In
                    values:
                      - "true"
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: qbittorrent-config
  namespace: app-servarr
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: longhorn-local
