apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: whoami
  namespace: app-whoami

spec:
  entryPoints:
    - websecure

  routes:
    - match: Host(`whoami.cluster.arpa`)
      kind: Rule
      middlewares:
        - name: authelia-forwardauth
      services:
        - name: whoami
          port: http
  tls:
    secretName: whoami-tls
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: whoami-tls
  namespace: app-whoami
spec:
  secretName: whoami-tls
  duration: 672h # 28d
  renewBefore: 168h # 7d
  issuerRef:
    name: custom-ca-cluster-issuer
    kind: ClusterIssuer
  commonName: "whoami.cluster.arpa"
  dnsNames:
    - "whoami.cluster.arpa"
