apiVersion: apps/v1
kind: StatefulSet

metadata:
  name: 1-12-2-pack
  namespace: app-minecraft

spec:
  replicas: 1
  selector:
    matchLabels:
      app: 1-12-2-pack
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: 1-12-2-pack
    spec:
      containers:
        - name: server
          image: ghcr.io/decentm/minecraft-servers:1-12-2-pack
          readinessProbe:
            tcpSocket:
              port: 25565
            initialDelaySeconds: 2
            periodSeconds: 5
            failureThreshold: 20
          livenessProbe:
            tcpSocket:
              port: 25565
            initialDelaySeconds: 60
            periodSeconds: 5
            failureThreshold: 20
          securityContext:
            capabilities:
              add:
                - CAP_NET_RAW
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: 1-12-2-config
          ports:
            - containerPort: 25565
          volumeMounts:
            - name: world
              mountPath: /data/world
      volumes:
        - name: world
          persistentVolumeClaim:
            claimName: 1-12-2-world
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: 1-12-2-world
  namespace: app-minecraft
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn-local
